<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="navbar-form navbar-left">
    <div class="form-group">
      <input type="button" value="Save" class="btn btn-success" {{action "save"}}/>
    </div>
  </div>

  <div class="container-fluid">
    <div class="navbar-form navbar-right">
      <div class="form-group">
        <input type="button" value="Cancel" class="btn btn-default" {{action "cancel"}}/>
      </div>
    </div>
  </div>
</nav>
